@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

#error {
    position: absolute;
    top: 30px;
    left: 50px;
    
    font-family: IBM Plex Sans, sans-serif;
    font-size: 30px;
    color: #333333;
}